.walletButtons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%; /* Ensure the button takes the full width of its container */
}

.buttonDisplay {
  margin-bottom: 1em;
}
.notSelected {
  filter: grayscale(100%);
}

button.walletButton + button.iconButton {
  width: 3.5em;
}
button.walletButton:only-child {
  width: 21em;
}

.walletButton {
  min-width: 272px;
}
.iconButton {
  height: 45px;
  margin-top: 0.5em;
  color: #DD0055;
}

.selectedWallet {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  padding: 0.6em 1.2em;
  margin-bottom: 0.5em;

  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
}
.selectedWallet > img {
  width: 2em;
  height: 1.5em;
  margin-right: 1em;
}
.selectedWallet > div {
  margin-right: 1em;
}