.walletButtons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.buttonDisplay {
  margin-bottom: 1em;
}
.notSelected {
  filter: grayscale(100%);
}

button.walletButton + button.iconButton {
  width: 3.5em;
}
button.walletButton:only-child {
  width: 21em;
}

.walletButton {
  margin-right: 0.5em;
  min-width: 17em;
}
.iconButton {
  height: 45px;
  margin-top: 0.5em;
}

.selectedWallet {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  padding: 0.6em 1.2em;
  margin-bottom: 0.5em;

  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
}
.selectedWallet > img {
  width: 2em;
  height: 1.5em;
  margin-right: 1em;
}
.selectedWallet > div {
  margin-right: 1em;
}