:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  display: flex;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  cursor: pointer;
  user-select: none;

  align-items: center;
  border-radius: 8px;
  padding: 8px 20px;

  font-family: inherit;
  font-size: 1em;
  font-weight: 500;

  transition: border-color 0.25s;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  margin-top: 0.5em;
}
button > * {
  flex-grow: 0; /* Make each item take up all the available space */
}
button > .check {
  margin-left: auto; /* Push the last item to the right */
  color: green;
}
button > img {
  width: 24px;
  height: 24px;
  margin-right: 1em;
}
button:hover {
  border-color: #75079d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button > .address {
  color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
